/* Sidebar =============================================================================== */
.block { border:1px solid #ddd; margin:0 0 20px; line-height:1.35; }
.block .block-title { border-bottom:1px solid #ddd; background:#e7e7e7; padding:2px 10px; }
.block .block-title strong { display:block; font:bold 12px/1.5 Arial, Helvetica, sans-serif; text-transform:uppercase; color:#444; }
.block .block-title strong span {}
.block .block-title a { text-decoration:none !important; }
.block .block-subtitle { font-size:10px; margin:0 0 10px; padding:0 0 2px; border-bottom:1px solid #ddd; text-transform:uppercase; }
.block .block-content { background:#f6f6f6; padding:12px 10px; }
.block .block-content li.item { border-bottom:1px solid #ddd; padding-bottom:5px; margin-bottom:5px; }
.block .block-content li.item.last { border-bottom:0; padding-bottom:0; margin-bottom:0; }
.block .block-content .product-name { color:#4f8100; }
.block .btn-remove,
.block .btn-edit { float:right; margin:1px 0 2px 5px; }
.block .actions { border-top:1px solid #ddd; padding:5px 0 0; margin:5px 0 0; text-align:right; }
.block .actions a { float:left; }
.block .actions button.button { float:right; }
.block .empty { margin:0; }
.block .price-box { margin:5px 0; }
.block button.button span { height:23px; background-image:url(../images/bkg_btn-small.png); line-height:20px; }

/*.block li.odd { background-color:#f4f3f3; }
.block li.even { background-color:#fafafa; }*/

/* Mini Products List */
.mini-products-list .product-image { float:left; width:50px; border:1px solid #a9a9a9; }
.mini-products-list .product-details { margin-left:60px; }
.block-cart .mini-products-list .product-details .product-name,
.block-cart .mini-products-list .product-details .nobr small { word-wrap:break-word; }
.block-cart .mini-products-list .product-details .nobr { white-space:normal !important; }

/* Block: Account */
.block-account .block-title { border:0; background:#666; }
.block-account .block-title strong { color:#fff; }
.block-account .block-content li a { display:block; border-bottom:1px solid #ddd; padding:3px 0; color:#5f5d5c; text-decoration:none !important; }
.block-account .block-content li a:hover { color:#444; }
.block-account .block-content li.last a { border-bottom:0; }
.block-account .block-content li.current { border-bottom:1px solid #ddd; padding:3px 0; }
.block-account .block-content li.current.last { border-bottom:0; }

/* Block: Currency Switcher */
.block-currency { background:#f4f4f4; }
.block-currency .block-title { border:0; background:none; padding:7px 10px 2px; text-transform:none; }
.block-currency .block-title strong { text-transform:none; }
.block-currency .block-content { padding:0 10px 12px; }
.block-currency .block-content select { width:100%; padding:0; }

/* Block: Layered Navigation */
.block-layered-nav { border:0; }
.block-layered-nav .block-title { border:0; padding:0; margin:0 0 6px; height:13px; background:url(../images/bkg_block-layered-title.gif) 0 0 no-repeat; text-indent:-999em; overflow:hidden; }
.block-layered-nav .block-content { padding:0; }
.block-layered-nav .block-subtitle { margin:0; background:#679100; font-size:12px; font-weight:bold; padding:2px 10px; color:#fff; }
.block-layered-nav dt { font-weight:bold; border-top:1px solid #fff; padding:8px 10px 0 10px; font-size:12px; }
.block-layered-nav dd { padding:0 10px 8px 10px; border-bottom:1px solid #ddd; }
.block-layered-nav dd li { line-height:1.35; margin:0 0 3px; }
.block-layered-nav dd a { color:#444; }
.block-layered-nav .currently ol { padding:6px 0 0; }
.block-layered-nav .currently li { padding:2px 36px 2px 10px; position:relative; z-index:1; }
.block-layered-nav .currently .label { font-weight:bold; display:inline-block; vertical-align:top; }
.block-layered-nav .currently .value { display:inline-block; vertical-align:top; }
.block-layered-nav .currently .btn-previous,
.block-layered-nav .currently .btn-remove { position:absolute; right:8px; top:3px; margin:0; }
.block-layered-nav .currently .btn-previous { right:22px; }
.block-layered-nav .actions { padding:5px 10px; margin:0; }
.block-layered-nav .actions a { float:none; }

/* Block: Cart */
.block-cart .block-title { background:#679100; }
.block-cart .block-title strong { color:#fff; }
.block-cart .summary { background:#e5eed6; padding:8px; margin:-12px -10px 8px; text-align:center; position:relative; z-index:1; }
.block-cart .amount { margin:0; }
.block-cart .amount a { font-weight:bold; }
.block-cart .subtotal { background:url(../images/bkg_subtotal.gif) no-repeat 50% 0; margin:5px 0 0; line-height:23px; }
.block-cart .subtotal .price { font-weight:bold; }
.block-cart .actions { display:none !important; }
.block-cart .actions .paypal-logo { float:left; width:100%; margin:3px 0 0; text-align:right; }

/* Block: Wishlist */
.block-wishlist .actions { text-align:right; }
.block-wishlist .actions a { float:none; }

/* Block: Related */
.block-related .block-subtitle { font-size:11px; font-weight:bold; border:0; padding:0; margin:0 0 8px; text-transform:none; }
.block-related input.checkbox { float:right; }
.block-related .product { margin-right:20px; }

/* Block: Compare Products */
.page-popup .link-print { background:url(../images/i_print.gif) 0 2px no-repeat; padding:3px 0 3px 25px; }
.compare-table { border:0; }
.compare-table thead,
.compare-table thead tr.first { background:#fff; }
.compare-table thead tr.first th,
.compare-table thead tr.first td { border:0; background:none; padding:0 0 4px; font-size:0; line-height:0; }
.compare-table .btn-remove { float:right; background-image:url(../images/btn_remove.gif); width:12px; height:12px; }
.compare-table tbody th { background:#e9e9e9; }
.compare-table tbody th,
.compare-table tbody td { padding:10px; border:0; border-top:1px solid #ccc; border-left:1px solid #ccc; }
.compare-table tbody td.last { border-right:1px solid #ccc; }
.compare-table tbody tr.last th,
.compare-table tbody tr.last td { border-bottom:1px solid #ccc !important; }
.compare-table tr.add-to-row td { background:#fffada; text-align:center; }
.compare-table tr.first td { text-align:center; }
.compare-table tr.first td .product-name { font-size:13px; font-weight:bold; margin:0 0 5px; color:#203548; }
.compare-table tr.first td .product-name a { color:#203548; }
.compare-table tr.first td .ratings { width:69px; margin:0 auto; }
.compare-table tr.first td p,
.compare-table tr.add-to-row td p { margin:0; }
.compare-table .add-to-links li { background:none; padding:0; }

/* Block: Recently Viewed */
.block-viewed {}

/* Block: Recently Compared */
.block-compared {}

/* Block: Poll */
.block-poll .block-subtitle { font-size:12px; }
.block-poll label { color:#777; font-weight:bold; }
.block-poll input.radio { float:left; margin:1px -18px 0 0; }
.block-poll .label { display:block; margin-left:18px; }
.block-poll li { padding:3px 9px; }
.block-poll .actions { margin:5px 0 0; }
.block-poll .answer { font-weight:bold; }
.block-poll .votes { float:right; margin-left:10px; }

/* Block: Tags */
.block-tags .block-content .tags-list { border:0; background:none; padding:0; }
.block-tags .block-content li a { color:#444; }
.block-tags .actions { text-align:right; }
.block-tags .actions a { float:none; }

/* Block: Reorder */
.block-reorder input.checkbox { float:left; margin:2px -20px 0 0; }
.block-reorder .product-name { margin-left:20px; }
.block-reorder .validation-advice { margin:3px 9px 7px; }

/* Block: Banner */
.block-banner { border:0; }
.block-banner .block-content { padding:0; background:none; text-align:center; }

/* Block: Login */
.block-login .block-content { padding:5px 10px; }
.block-login label { font-weight:bold; color:#555; }
.block-login input.input-text { display:block; width:167px; margin:3px 0; }
.block-login .actions { background:none; padding:0; margin:3px 0 0; }

/* Paypal */
.sidebar .paypal-logo { display:block; margin:10px 0; text-align:center; }
.sidebar .paypal-logo a { float:none; }
/* ======================================================================================= */