/* Layout ================================================================================ */
.wrapper {}
.page { 
	margin: $page-margin; 
	text-align: $page-text-align; 
	width: $page-width; 
}
.page-print { background:#fff; padding:25px 30px; text-align:left; }
.page-empty { background:#fff; padding:20px; text-align:left; }
.page-popup { background:#fff; padding:25px 30px; text-align:left; }
.main-container {}
.main { 
	background: $main-bg; 
	border: {
		color: $main-border-color;
		style: $main-border-style;
		width: $main-border-width;
	}
	padding: $main-padding; 
	min-height:350px; 
}

/* Base Columns */
.col-left { 
	float:left; 
	width: $col-left-width; 
	padding:0 0 1px; 
}
.col-main { 
	float:left; 
	width: $col-main-width; 
	padding:0 0 1px; 
}
.col-right { 
	float:right; 
	width: $col-right-width; 
	padding:0 0 1px; 
}

/* 1 Column Layout */
.col1-layout { 
	.main { padding: $col1-main-padding; }
	.col-main { float:none; width:auto; }
}

/* 2 Columns Layout */
.col2-left-layout .col-main { float:right; }
.col2-right-layout .col-main {}

/* 3 Columns Layout */
.col3-layout .col-main { width: $col3-main-width; margin-left: $col3-main-margin-left; }
.col3-layout .col-wrapper { float:left; width: $col-left-width+$col3-main-width+$col3-main-margin-left; }
.col3-layout .col-wrapper .col-main { float:right; }

/* Content Columns */
.col2-set .col-1 { float:left; width:48.5%; }
.col2-set .col-2 { float:right; width:48.5%; }
.col2-set .col-narrow { width:32%; }
.col2-set .col-wide { width:65%; }

.col3-set .col-1 { float:left; width:32%; }
.col3-set .col-2 { float:left; width:32%; margin-left:2%; }
.col3-set .col-3 { float:right; width:32%; }

.col4-set .col-1 { float:left; width:23.5%; }
.col4-set .col-2 { float:left; width:23.5%; margin:0 2%; }
.col4-set .col-3 { float:left; width:23.5%; }
.col4-set .col-4 { float:right; width:23.5%; }
/* ======================================================================================= */