/* Reset ================================================================================= */
* { 
	margin:0; 
	padding:0; 
}

body { 
	background: $body-bg; 
	color: $body-color;
	font-family: $body-font-family;
	font-style: $body-font-style;
	line-height: $body-line-height;
	text-align: $body-text-align; 
}

img { 
	border: 0; 
	vertical-align: top; 
}

a { 
	color: $link-color; 
	text-decoration:none; 
	&:hover { 
		text-decoration: underline; 
	}
}
:focus { 
	outline:0; 
}

/* Headings */
h1 { 
	font-size: $h1-font-size; 
	font-weight:normal; 
	line-height: $header-line-height; 
}
h2 { 
	font-size: $h2-font-size; 
	line-height: $header-line-height; 
	margin: $header-margin; 
}
h3 { 
	font-size: $h3-font-size; 
	line-height: $header-line-height; 
	margin: $header-margin; 
}
h4 { 
	font-size: $h4-font-size; 
	line-height: $header-line-height; 
	margin: $header-margin; 
}
h5 { 
	font-size: $h5-font-size; 
	line-height: $header-line-height; 
	margin: $header-margin; 
}
h6 { 
	font-size: $h6-font-size; 
	line-height: $header-line-height; 
	margin: 0 0 1em; 
}

/* Forms */
form          { display:inline; }
fieldset      { border:0; }
legend        { display:none; }

/* Table */
table         { border:0; /*border-collapse:collapse;*/ border-spacing:0; empty-cells:show; font-size:100%; }
caption,th,td { vertical-align:top; text-align:left; font-weight:normal; }

/* Content */
p             { margin:0 0 1em; }
strong        { font-weight:bold; }
address       { font-style:normal; line-height:1.35; }
cite          { font-style:normal; }
q,
blockquote    { quotes:none; }
q:before,
q:after       { content:''; }
small         { font-size:1em; }
big           { font-size:1.15em; }
/*sup           { font-size:1em; vertical-align:top; }*/

/* Lists */
ul,ol         { list-style:none; }

/* Tools */
.hidden       { display:block !important; border:0 !important; margin:0 !important; padding:0 !important; font-size:0 !important; line-height:0 !important; width:0 !important; height:0 !important; overflow:hidden !important; }
.nobr         { white-space:nowrap !important; }
.wrap         { white-space:normal !important; }
.a-left       { text-align:left !important; }
.a-center     { text-align:center !important; }
.a-right      { text-align:right !important; }
.v-top        { vertical-align:top; }
.v-middle     { vertical-align:middle; }
.f-left,
.left         { float:left !important; }
.f-right,
.right        { float:right !important; }
.f-none       { float:none !important; }
.f-fix        { float:left; width:100%; }
.no-display   { display:none; }
.no-margin    { margin:0 !important; }
.no-padding   { padding:0 !important; }
.no-bg        { background:none !important; }
/* ======================================================================================= */