// Reset
$body-bg: #f2f2f2 url(../images/bkg_body.gif) 0 0 repeat;
$body-color: #444;
$body-font-family: arial, helvetica, sans-serif;
$body-font-size: 11px;
$body-line-height: 1.55; 
$body-text-align: center;

$link-color: #4f8100;

$header-line-height: 1.25;
$header-margin: 0 0 .45em;

$h1-font-size: 2em;
$h2-font-size: 1.5em;
$h3-font-size: 1.35em;
$h4-font-size: 1.05em;
$h5-font-size: 1.05em;
$h6-font-size: 1em;