// Reset
$body-bg: #f2f2f2 url(../images/bkg_body.gif) 0 0 repeat;
$body-color: #444;
$body-font-family: Arial, Helvetica, sans-serif;
$body-font-size: 11px;
$body-line-height: 1.55; 
$body-text-align: center;

$link-color: #4f8100;

$header-line-height: 1.25;
$header-margin: 0 0 .45em;

$h1-font-size: 2em;
$h2-font-size: 1.5em;
$h3-font-size: 1.35em;
$h4-font-size: 1.05em;
$h5-font-size: 1.05em;
$h6-font-size: 1em;

// Layout 

$page-margin: 15px auto 0;
$page-text-align: left;
$page-width: 960px;

$main-bg: #fff;
$main-border-color: #bbb #bbb #666 #bbb;
$main-border-style: solid;
$main-border-width: 0 1px 1px 1px; 
$main-padding: 16px 16px 50px;

$col-left-width: 220px;
$col-main-width: 686px;
$col-right-width: 220px;

// - 1 Column specfic
$col1-main-padding: 16px 30px 40px;

// - 3 Column Specific
$col3-main-width: 452px;
$col3-main-margin-left: 17px;

// Form Elements
$input-bg: #fff;
$input-border-color: #b6b6b6;
$input-color: #2f2f2f;
$input-font-family: $body-font-family;
$input-font-size: 12px;
$input-line-height: 15px;
// :focus
$input-focus-bg: #edf7fd;